# Ignore virtual environments
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore pytest cache
.pytest_cache/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment configuration files
.env
*.log

# Ignore build files
*.egg-info/
dist/
build/
